/* Fixing Testimonials
------------------------------ */
@media (min-width: 480px)
  .testimonial-holder
    min-height 400px !important
@media screen and (min-width: 768px)
  .testimonial-gallery
    height 100%

.testimonial-list
.slick-list
  height 550px
  // height auto !important