/* Fixing Testimonials
------------------------------ */
@media (min-width: 480px)
  .testimonial-holder
    min-height 400px !important
@media screen and (min-width: 768px)
  .testimonial-gallery
    height 100%

.slick-slide
  // height auto !important